<div ng-if="generators.length > 0">
    <table class="listOfGenerators">
        <tr>
            <th>Name of the number generator</th>
            <th>Current count of generated numbers</th>
            <th>Color</th>
            <th>Details</th>
        </tr>
        <tr ng-repeat="generator in generators">
            <td>{{generator.name}}</td>
            <td>{{generator.listOfNumbers.length}}</td>
            <td>{{generator.color}}</td>
            <td><a ng-href="details/{{$index}}"></a></td>
        </tr>
    </table>
</div>