<div ng-controller='createCtrl'>
    <form name="createGeneratorForm">
        <label for="generatorsName">Name</label>
        <input type="text" id="generatorsName" required="required" ng-model="data.generatorsName" />
        <br />
        <label for="numsCount">Count of numbers</label>
        <input type="number" required="required" ng-model="data.numsCount" id="numsCount" />
        <br />
        <label for="color">Color</label>
        <input type="text" required="required" ng-model="data.color" id="color" />
        <br />
        <button ng-disabled="createGeneratorForm.$invalid" ng-click="createHandler(data)">Create</button>
    </form>
</div>